.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
}

.depoimento img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 0px;
}

.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: end;
}

.depoimento-conteudo p {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  max-width: 32ch;
}